<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  </head>
  <body>
    <h1 class="center">My blog (not a permanent title) </h1>
    <div id="post_list" class="center">

    {% for post in posts %}
      <article class="darken">
        <h3><a href = "{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
        <p>{{ post.flavor_text }}</p>
        <date>{{ post.published_date }}, by {{ post.author }}</date>
      </article>
    {% endfor %}

    </div>
  </body>
</html>
