{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <title>l3gacy - home</title>
  </head>
  <body>
    <div id="page-container">
      <div id="content-wrap">
        <ul>
         <li><a href="/">home</a></li>
         <li><a href="/blog">blog</a></li>
         <li><a href="/contact">contact</a></li>
         <li><a href="/projects">projects</a></li>
        </ul>

        <article>
          <h1 class="center"> <a href="/blog">My blog (not a permanent title) - {{ post.title }}</a></h1>
          {% if post.published_date %}
              <date>
                  {{ post.published_date }}
              </date>
              <name class="right">{{ post.author }}</name>
          {% endif %}
          <br><br>
          <p>{{ post.text|linebreaksbr }}</p>
        </article>
      </div>
    <footer><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</footer>
  </div>
  </body>
</html>
