{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <title>l3gacy - home</title>
  </head>
  <body>
    <ul>
     <li><a href="/">home</a></li>
     <li><a href="/blog">blog</a></li>
     <li><a href="/contact">contact</a></li>
     <li><a href="/projects">projects</a></li>
    </ul>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    {% for project in projects %}
    <article class="content">
      <img src="{{ project.cover_image }}" width=100 height=100> <br>
      {{ project.flavor_text }}
    </article>
    {% endfor %}

  </body>
</html>
